#local-search-result {
  position: absolute;
  background-color: #f5f5d5;
  width: 100%;
}

#sidebar .widget .search-form {
  overflow: visible;
}

#sidebar .widget .search-form input {
  width: auto;
}